<ng-container
  *ngTemplateOutlet="ExchangeRateBlock; context: actualExchangeRate | async"
></ng-container>
<br />
<button (click)="stopRequestingData()">stop</button>
<button (click)="setNextDataSource()">next dataSource</button>

<ng-template
  #ExchangeRateBlock
  let-currencyCode="currencyCode"
  let-currencyName="currencyName"
  let-exchangeRate="exchangeRate"
  let-lastUpdate="lastUpdate"
>
  <div class="er-block">
    <span class="er-field curr-code">{{ currencyCode }}</span>
    <span class="er-field curr-name">{{ currencyName }}</span>
    <span class="er-field exch-rate">{{ exchangeRate }}</span>
    <span class="er-field last-upd">{{ lastUpdate | dtString }}</span>
  </div>
</ng-template>
